.settings {

  background-color: #ebebeb;
  padding: 10px 0;
  text-align: center;
}

.settings a {
  margin-left: -35px;
  display: block;
}

form {
  margin: 15px 0;
}

.title {
  font-weight: 700;
  /* margin-bottom: 10px; */
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;
  padding: 12px 0;
}

.displayCity {
  margin-bottom: 10px;
  padding-top: 10px;
  border-top: 1px dotted black;
}

i {
  color: white;
}

.displayCity i {
  color: red;
}

.button:hover,
  {
  color: white;
}